*{
	margin:0;
	padding:0;
}
body{
	font-family:"Microsoft YaHei";
	background-color:#dedede;
}
/*顶部*************************************************************************/
header{
	position: relative;
	/*absolute
	生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。
	元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
	fixed
	生成绝对定位的元素，相对于浏览器窗口进行定位。
	元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
	relative
	生成相对定位的元素，相对于其正常位置进行定位。
	因此，"left:20" 会向元素的 LEFT 位置添加 20 像素。
	static	默认值。没有定位，元素出现在正常的流中（忽略 top, bottom, left, right 或者 z-index 声明）。
	inherit	从父元素继承 position 属性的值。*/
	height:60px;
	background-color:#333;
}
header h1 img{
	padding-left:20px;
	height:58px;
}
header ul{
	position:absolute;
	top:0;
	right:10px;
}
header ul li{
	text-align:center;/*元素中的文本的水平对齐方式*/
	display:block;
	width:60px;
	float:left;
	padding:20px 10px;
}
header ul li a{
	font-size:12px;
	color:white;
	text-decoration:none;
	/*文本修饰
	none	默认。定义标准的文本。
	underline	定义文本下的一条线。
	overline	定义文本上的一条线。
	line-through	定义穿过文本下的一条线。
	blink	定义闪烁的文本。
	inherit	规定应该从父元素继承 text-decoration 属性的值。*/
}
header ul li:hover{
	border-bottom: 1px solid red;
	background:#474747;
	border-radius: 3px;/*圆角边框*/
}

/*主体***************************************************************************/
main{
	width:calc(100% - 450px - 60px);
}
article, aside{
	display:block;
	background:white;
	margin:20px;
	padding:20px;
	box-shadow:1px 1px 2px 1px #848484;
		/*向框添加一个或多个阴影
		h-shadow	必需。水平阴影的位置。允许负值。
		v-shadow	必需。垂直阴影的位置。允许负值。
		blur		可选。模糊距离
		spread		可选。阴影的尺寸。
		color		可选。阴影的颜色。请参阅 CSS 颜色值
		inset		可选。将外部阴影 (outset) 改为内部阴影。*/
}
article h2{
	padding:5px 0;
}
article h3{
	padding:10px 0;
	color:#808080;
	font-size:16px;
}
article a{
	color:blue;
}
article a:hover{
	color:red;
}
.auther, .time{
	line-height: 30px;/*行间距，行高*/
	color:#808080;
	font-size: 12px;
}
article p{
	text-indent:2em;/*段首缩进2个字*/
}
article img{
	padding:15px 0;
}
article ul li{
	list-style-type:none;/*去掉列表前面的点*/
}
article dl dd{/*dl> 标签用于结合 <dt> （定义列表中的项目）和 <dd> （描述列表中的项目）。*/
	width:120px;
	margin:15px;
	border:1px solid #ccc;
}
article dl dd span{
	display:block;
	font-size:12px;
	text-align:center;
	margin:5px;
}
article dl dd img{
	width:110px;
	padding:5px;
}
article ol{
	margin:10px 40px;
}
article table{
	width:100%;
	border-collapse: collapse;/*设置表格的边框合并为一个单一的边框*/
}
article table tr th{
	color:white;
	background: #333;
}
article table tr td{
	border:1px solid #ccc;
}
article table .buttomTable{
	background: #ccc;
}

/*侧栏******************************************************************/
aside{
	float:right;
	width:450px;
}
aside h4{
	height:40px;
	line-height: 40px;
	padding-left: 10px;
	border-left: 3px solid #ccc;
}
aside form div{
	font-size:14px;
	margin:15px 0;
}
aside form div .tips{
	float:left;
	text-align:right;
	width:35%;
	padding-right: 15px;
}
aside form div p{
	margin-left: 35%;
	padding-left: 15px;
	font-size: 12px;
	color:#aaa;
}
aside textarea{
	width:50%;
	height:100px;
}
aside .submitButton{
	width:100%;
	height:40px;
	border-radius:10px;
	background:#128fdc;
	color:white;
	font-size:19px;
	border:none;
}
aside .submitButton:hover{
	background:#0063dc;
}

/*底部****************************************************************************/
footer{
	width:100%;
	height:50px;
	background:black;
	color:white;
	text-align:center;
	line-height:50px;
	font-size: 14px;
}